$li-left-margin: 2rem;
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 2s;

  & .sidebar--parent {
    background-color: #324150;
    height: 100%;
    width: 17rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    transition: 0.5s;

    & li {
      margin: 1rem 1rem 1rem $li-left-margin;
      padding-top: 1rem;
      border-top: 1px solid #3d4957;

      & a {
        color: #b4bcc8;
        width: 70%;
        font-weight: 100;
        font-family: inherit;
      }

      & a:hover {
        color: #f1f1f1;
      }

      & div .arrow {
        width: 30%;
      }
    }

    & li:first-child {
      margin-top: 1.5rem;
      border-top: none;
      padding-top: 0;
    }
  }
}

@media screen and (max-height: 450px) {
  // .sidebar {
  //   padding-top: 15px;
  // }
  // .sidebar a {
  //   font-size: 18px;
  // }
}

.icon-spacing {
  margin: 0 6px 0 0;
}

.font-color {
  color: $font-color !important;
}

.left-icon:hover {
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(-90deg);
  animation: roll 0.5s;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

// Add transtion to the sidebar menu items
.child-list {
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.15s;
  -moz-transition: all 0.3s ease 0.15s;
  -o-transition: all 0.3s ease 0.15s;
  -ms-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}

.has-list-active {
  opacity: 1;
  height: auto;
}
