$li-left-margin: 2rem;

.sidebar {
  & .sidebar--parent {
    background-color: #324150;
    height: 100%;
    width: 17rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    transition: 0.5s;

    & li {
      margin: 1rem 1rem 1rem $li-left-margin;
      padding-top: 1rem;
      border-top: 1px solid #3d4957;

      & a {
        color: #b4bcc8;
        width: 70%;
        font-weight: 100;
        font-family: inherit;
      }

      & a:hover {
        color: #f1f1f1;
      }
    }

    & li:first-child {
      margin-top: 1.5rem;
      border-top: none;
      padding-top: 0;
    }
  }
}

@media screen and (max-height: 450px) {
  // .sidebar {
  //   padding-top: 15px;
  // }
  // .sidebar a {
  //   font-size: 18px;
  // }
}

.icon-spacing {
  margin: 0 6px 0 0;
}

.font-color {
  color: $font-color !important;
}

.left-icon {
  // margin-left: 30%;
  // // margin-left: calc(li-width - a-width);
  // position: relative;
  // top: 0.1rem;
  // left: 0rem;
}

.has-children {
  width: 100%;
}

.has-children ul {
  display: none;
}

.rotate-icon {
  transition: 0.5s;
  transform: rotate(-90deg);
}

.has-list-active {
  display: block !important;
}
